body {
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    font-family: 'Cutive Mono', monospace;
    background: linear-gradient(to right,rgba(19,25,31,1) 0%,rgba(38,51,64,1) 100%);
}

* {
    box-sizing: border-box;
}

.flex {
    display: flex;
    max-width: 100%;
}

.center {
    justify-content:center;
}

#play-interface {
    width: 585px;
    max-width: 100%;
    background: white;
    box-shadow: 0px 6px 60px 0px rgba(38, 51, 64, 0.08);
    border: none;
    border-radius: 16px;
}

#score-bar {
    padding: 0 40px;
}

.icon {
    margin-bottom: 10px;
    margin-right: 10px;
}

#life,
#star {
    width: 25%;
    align-items:center;
}

#score {
    width: 50%;
    text-align: right;
}

.icon {
    width: 50.5px;
    height: 85.5px;
}

canvas {
    margin-top: -60px;
    margin-bottom: -20px;
}

.control-btn {
	width: 150px;
	background: rgb(87, 152, 218);
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 7px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
.control-btn:hover, .control-btn:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px rgba(87, 152, 218);
}
}
